body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #8f87f1;
  font-size: 21px;
}

.scroll-1::-webkit-scrollbar {
  width: 2px;
}

.scroll-1::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-1::-webkit-scrollbar-thumb {
  background: #888;
}

@keyframes blurAnimation {
  0%,
  100% {
    filter: blur(0px);
  }
  95% {
    filter: blur(2px);
  }
}

#about {
  background-color: #e7f0fd;
}

.animate-blur {
  animation: blurAnimation 8s ease infinite;
}

.gradient-border {
  position: relative;
  background: #111827;
  border-radius: 24px;
  padding: 1rem;
  z-index: 0;
  overflow: hidden; /* important */
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, yellow, blue);
  z-index: -1;
  padding: 8px; /* border thickness */
  border-radius: 24px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  background-clip: border-box;
  pointer-events: none;
}
