<div id="header"></div>
<div id="nav"></div>

<main
  class="moveDiv bg-white shadow-md flex items-center relative justify-center transition-all duration-500 ease-out translate-y-5 opacity-0"
>
  <div class="cursor-default space-y-6 p-2 sm:p-4 max-w-5xl min-w-0">
    <div class="space-y-4 max-w-full overflow-hidden">
      <p id="name" class="text-5xl text-center"></p>
      <hr />
      <p id="description" class="text-base text-gray-800"></p>
    </div>
    <main class="space-y-8" id="container"></main>
  </div>
</main>

<section
  id="moveOn"
  class="bg-green-400 text-white p-1 space-y-4 mt-6 opacity-0 translate-y-5 transition-all duration-700"
>
  <p class="text-5xl">You may also like ...</p>
  <hr class="border-2 border-white" />
  <div id="relate" class="flex flex-wrap gap-6 text-base md:p-6"></div>
  <p>
    Find more content related to what you're reading now, and share it with
    others if you like it.
  </p>
</section>

<div id="footer"></div>
