<div class="flex gap-5">
  <p
    id="a"
    class="border-b-2 border-blue-500"
    onclick="updatecomponent('a',event)"
  >
    Active
  </p>
  <p id="b" onclick="updatecomponent('b',event)">Listening</p>
  <p id="c" class="text-red-500" onclick="updatecomponent('c',event)">Failed</p>
</div>
<p id="info" class="text-gray-700 text-base"></p>
<p class="text-base text-gray-800"></p>
<p id="update" class="py-2 text-5xl">3000</p>

<div
  id="instance"
  class="flex hidden gap-1 flex-wrap mx-20 max-w-96 transition-opacity duration-300"
></div>
