<div class="flex gap-5">
  <p
    id="a"
    class="border-b-2 border-blue-500"
    onclick="updatecomponent('a',event)"
  >
    Active
  </p>
  <p id="b" onclick="updatecomponent('b',event)">Listening</p>
  <p id="c" class="text-red-500" onclick="updatecomponent('c',event)">Failed</p>
</div>
<p id="info" class="text-gray-700 text-base"></p>
<p class="text-base text-gray-800">
  Whenever user selects jungle safari as the primary location, real time updates
  for the dashboard are shown here.
</p>
<p id="update" class="py-2 text-5xl">3000</p>

<div
  id="instance"
  class="flex gap-1 flex-wrap mx-20 max-w-96 transition-opacity duration-300"
></div>
<p class="flex gap-5 items-center text-gray-800 text-base">
  <svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    x="0px"
    y="0px"
    width="16"
    height="16"
    viewBox="0 0 122.88 119.76"
  >
    <g>
      <path
        d="M106.5,0.2L19.1,24.97l30.23,39.5l69.77-19.78c2.74-0.78,4.35-3.66,3.57-6.4L112.9,3.77 C112.12,1.03,109.24-0.58,106.5,0.2L106.5,0.2L106.5,0.2z M83.88,64.13l-16.25,3.82v51.81l16.25,0V64.13L83.88,64.13z M34.65,61.37 L15.89,33.39L0,37.89l18.94,27.93L34.65,61.37L34.65,61.37L34.65,61.37z M55.73,30.54l-8.14,2.31l2.61,9.21l8.14-2.31L55.73,30.54 L55.73,30.54L55.73,30.54z"
      />
    </g>
  </svg>
  Current index for the DJI OSmo Pocket 3.
</p>
